.header {
	display: flex;
	position: fixed;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	z-index: 2;
	border-bottom: 1px solid #E5E5E5;

	&__left {
		flex: 0.3;
		display: flex;
		align-items: center;
		padding: 11.5px 24px;

		@media only screen and (max-width: 600px) {
			font-size: 12px;
			padding: 10px;
		}
	}

	&__logo {
		cursor: pointer;

		:hover {
				opacity: 0.8;
		}
	}

	&__right {
		font-size: 16px;
		line-height: 22px;

		text-align: right;

		color: #DF3A06;
		padding: 20px 24px;

		@media only screen and (max-width: 600px) {
			display: none;
		}
	}

	&__burger {
		align-items: center;
		width: auto;
		height: auto;
		display: none;
		margin-right: 10px;

		@media only screen and (max-width: 600px) {
			display: flex;
		}
	}

	&__burger-btn {
		width: 25px;
		height: 25px;
		position: relative;
		cursor: pointer;

		span {
			content: '';
			position: absolute;
			top: 12px;
			width: 25px;
			background-color: #000;
			height: 2px;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			width: 25px;
			background-color: #000;
			height: 2px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			width: 25px;
			background-color: #000;
			height: 2px;
		}
	}

	&__title {
		font-size: 16px;

		text-align: right;

		color: #DF3A06;
	}
	@media only screen and (max-width: 600px) {
		max-height: 100px;
	}
}